<!DOCTYPE html>
<html>
<head>
  <title>EVader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="col-md-6 col-md-offset-3">
	<% if flash[:success] %>
		<p id="success" class="alert bg-success text-center"><%= flash[:success] %></p>
	<% end %>
	<% if flash[:alert] %>
		<p id="alert" class="alert bg-danger text-center"><%= flash[:alert] %></p>
	<% end %>
	<%= yield %>
</div>
</body>
</html>
