<div>
  <%= f.input :name, label: "Nombre / Razón social" %>
  <%= f.input :person_type, :collection => [["FISICA", "FISICA"], ["JURIDICA", "JURIDICA"]], as: :select %>
  <%= f.input :identification_code_type, :collection => [["CUIL", "CUIL"], ["CUIT", "CUIT"]], as: :select %>
  <%= f.input :identification_code_number %>
	<div class="pull-right">
	  <%= link_to 'Volver al listado', people_path, class: "btn btn-default" %>
	  <%= f.button :submit, class: "btn btn-success" %>
	</div>
</div>
