<p id="notice"><%= notice %></p>

<h3 class="text-center">Detalles de la persona:</h3>

<div class="container-fluid">
<div class="bg-warning">
		<p>
		  <strong>Nombre:</strong>
		  <%= @person.name %>
		</p>
		<p>
		  <strong><%= @person.identification_code_type %>:</strong>
		  <%= @person.identification_code_number %>
		</p>
		<div class="pull-right">
			<%= link_to 'Volver', people_path, class: "btn btn-default" %>
			<%= link_to 'Editar', edit_person_path(@person), class: "btn btn-success" %>
		</div>
	</div>
</div>