<div style="">
  <div class="field">
    <%= f.label "Nombre" %><br>
    <%= f.text_field :firstname, required: true %>
  </div>
  <div class="field">
    <%= f.label "Apellido" %><br>
    <%= f.text_field :lastname, required: true %>
  </div>
  <div class="field">
    <%= f.label "Fecha de nacimiento" %><br>
    <%= f.date_select :birthdate, required: true %>
  </div>
  <div class="field">
    <%= f.label "DNI" %><br>
    <%= f.text_field :document_number, required: true %>
  </div>
  <div class="field">
    <%= f.label "Sexo" %><br>
    <%= f.select :genre, [['Masculino', "M"], ['Femenino', "F"]] %>
  </div>
  <div class="field">
    <%= f.label "CUIT/CUIL" %><br>
    <%= f.select :identification_code_type, [["CUIL", "CUIL"], ["CUIT", "CUIT"]] %>
  </div>
  <div class="field">
    <%= f.label "Número de CUIT/CUIL" %><br>
    <%= f.text_field :identification_code_number, required: true %>
  </div>
  <div class="field">
    <%= f.label "Tipo de cliente" %><br>
    <%= f.text_field :client_type, required: true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>