<h3 class="text-center">Editar cliente</h3>

<%= simple_form_for @client do |f| %>
  <input type="hidden" name="_method" value="put" >
  <%= f.error_notification %>
  <%= render 'form', :f => f, :path => clients_path %>

<%#	<div class="">
		<strong>Medios de contacto: </strong> <%= link_to 'Editar', client_client_contacts_path(@client.id) %>
<%#		<ul>
			<% @contacts.each do |c| %>
<%#				<li><%= Contact.find(c.contact_id).contact_type %>
<%#					<%= c.value %>
<%#				</li>
			<% end %>
<%#		</ul>
	</div>
%>
<% end %>
