<h3 class="text-center">Listado de clientes</h3>

<table class="table table-bordered text-center">
  <thead class="">
    <tr>
      <th class="text-center">Nombre</th>
      <th class="text-center">Apellido</th>
      <th class="text-center" colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.firstname %></td>
        <td><%= client.lastname %></td>
        <td><%= link_to 'Ver', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo cliente', new_client_path, class: 'btn btn-success pull-right' %>
