<h3 class="text-center">Facturas de cliente: <%= @client.firstname %> <%= @client.lastname %></h3>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">Nro. factura</th>
      <th class="text-center">Monto total</th>
      <th class="text-center">Fecha de emisión</th>
      <th class="text-center">Descripción</th>
      <th class="text-center" colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.order(discharge_date: :desc).each do |invoice| %>
      <tr>
      <td><%= invoice.id %></td>
        <td>$ <%= invoice.total_amount %></td>
        <td><%= invoice.discharge_date.strftime("%d-%m-%Y") %></td>
        <td><%= invoice.description %></td>
        <td><%= link_to 'Ver', invoice %></td>
        <td><%= link_to 'Editar', edit_invoice_path(invoice) %></td>
        <td><%= link_to 'Eliminar', invoice, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Volver', client_path, class: "btn btn-default pull-right" %>
