<h3 class="text-center">Información sobre cliente: <%= @client.firstname %> <%= @client.lastname %></h3>

<div class="container-fluid">
	<div class="bg-warning">
		<p>
			<strong>Fecha nacimiento:</strong>
			<%= @client.birthdate %>
		</p>
		<p>
			<strong>Edad:</strong>
			<%= @age %>
		</p>
		<p>
			<strong>Número de documento:</strong>
			<%= @client.document_number %>
		</p>
		<p>
			<strong><%= @client.identification_code_type %>: </strong>
			<%= @client.identification_code_number %>
		</p>
		<div>
			<strong>Medios de contacto: </strong>
			<ul>
				<% @contacts.each do |c| %>
					<li><%= Contact.find(c.contact_id).contact_type %>:
						<%= c.value %>
					</li>
				<% end %>
			</ul>
		</div>
		<div>
			<strong>Monto total por año:</strong>
			<ul>
				<% @annual_amount.each do |year, total| %>
					<li>El año <%= year %> facturó $<%= total %> </li>
				<% end %>
			</ul>
		</div>
		<div>
			<strong>Cantidad de facturas emitidas por mes del corriente año:</strong>
			<ul>
				<% @invoices_per_month.each do |month, amount| %>
					<li>El mes de <%= I18n.t("date.month_names")[month.to_i] %> emitió <%= amount %> facturas.</li>
				<% end %>
			</ul>
		</div>
		<div>
			<strong>Las cinco personas más facturadas son:</strong>
			<ol>
				<% @invoiced.each do |person_id, amount_invoiced | %>
					<li> La persona <strong><%= Person.find(person_id).name %></strong> ha sido facturada <%= amount_invoiced %> veces.</li>
				<% end %>
			</ol>
		</div>
		<div class="pull-right">
			<%= link_to 'Volver', clients_path, class: "btn btn-default" %>
			<%= link_to 'Facturas', client_invoices_path(@client.id), class: "btn btn-default" %>
			<%= link_to 'Editar', edit_client_path(@client), class: "btn btn-success" %>
		</div>
	</div>
</div>
