<div>
    <%#= f.input :client_id, :collection => Client.all.collect {|c| [ c.fullname, c.id ] }, as: :select %>
    <div class="form-group">
      <strong>Cliente emisor: </strong>
        <%= @client.fullname %>
    </div>
    <%= f.hidden_field :client_id, value: @client.id %>
    <%= f.input :person_id, :collection => Person.all.collect {|c| [ c.to_s, c.id ] }, as: :select %>
    <%= f.input :total_amount %>
    <%= f.input :discharge_date, :order => [:day, :month, :year], :start_year => 1920, :end_year => Time.new.year %>
    <%= f.input :description %>
  <div class="pull-right">
    <%= link_to 'Volver', :back, class: "btn btn-default" %>
    <%= f.button :submit, class: "btn-success" %>
  </div>
</div>
