<p id="notice"><%= notice %></p>

<h3 class="text-center">Facturas de cliente: <%= @client.firstname %> <%= @client.lastname %></h3>

<table class="table table-bordered text-center">
  <thead>
    <tr>
      <th class="text-center">Cliente emisor</th>
      <th class="text-center">Persona facturada</th>
      <th class="text-center">Monto total</th>
      <th class="text-center">Fecha de emisión</th>
      <th class="text-center">Descripción</th>
      <th class="text-center" colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.order(discharge_date: :desc).each do |invoice| %>
      <tr>
        <td><%= Client.find(invoice.client_id).firstname %></td>
        <td><%= Person.find(invoice.person_id).name %></td>
        <td>$ <%= invoice.total_amount %></td>
        <td><%= invoice.discharge_date.strftime("%d-%m-%Y") %></td>
        <td><%= invoice.description %></td>
        <td><%= link_to 'Ver', client_invoice_path(invoice.client_id, invoice.id) %></td>
        <td><%= link_to 'Editar', edit_client_invoice_path(invoice.client_id, invoice.id) %></td>
        <td><%= link_to 'Eliminar', client_invoice_path(invoice.client_id, invoice.id), method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="pull-right">
  <%= link_to 'Volver', client_path(@client), class: "btn btn-default" %>
  <%= link_to 'Nueva factura', new_client_invoice_path, class: 'btn btn-success' %>
</div>
