<p id="notice"><%= notice %></p>

<h3 class="text-center">Detalles de factura:</h3>

<div class="container-fluid">
	<div class="bg-warning">
		<p>
			<strong>Cliente emisor: </strong>
			<%= @client.fullname %>
		</p>
		<p>
		  <strong>Persona facturada:</strong>
		  	<ul>
		  		<li><strong>Nombre: </strong><%= @person.name%></li>
		  		<li><strong><%= @person.identification_code_type %>: </strong>
		  			<%= @person.identification_code_number %>
		  		</li>
		  	</ul>
		</p>
		<p>
			<strong>Fecha de emisión:</strong>
			<%= @invoice.discharge_date.strftime("%d-%m-%Y") %>
		</p>
		<p>
		  <strong>Monto total:</strong>
		  $ <%= @invoice.total_amount %>
		</p>
		<p>
			<strong>Descripción:</strong>
			<%= @invoice.description %>
		</p>
		<div class="pull-right">
			<%= link_to 'Volver', client_invoices_path(@invoice.client_id), class: "btn btn-default" %>
			<%= link_to 'Editar', edit_client_invoice_path(@invoice.client_id, @invoice.id), class: "btn btn-success" %>
		</div>
	</div>
</div>
